<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee">
	<display-name>Jetty - Authorization Example</display-name>
	
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>TestAuthorization</realm-name>
	</login-config>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Administrator Resources</web-resource-name>
			<url-pattern>/jsp/admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>User Resources</web-resource-name>
			<url-pattern>/jsp/user/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>user</role-name>
		</auth-constraint>
	</security-constraint>
	
	<!-- Landing page -->
	<welcome-file-list>
		<welcome-file>/jsp/index.jsp</welcome-file>
	</welcome-file-list>
</web-app>